#banner {
}

#bannerImage {
  //max-width: 100vw;
  grid-column: 1/-1;
  grid-row: 1/2;

  min-width: 100vw;
  max-height: 12vh;
  object-fit: cover;
}
#adminsPageContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  //grid-row-gap: 1em;
}
#schemasContainer {
  grid-column: 1/-1;
  grid-row-start: 2;
  padding: 1em 1em;
}
.generalBox {
  grid-column: 1/-1;
  border: 0.2em solid black;
  margin-bottom: 0.5em;
  padding: 0.5em 0.5em;
}
#singleDoc {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
#doc {
  grid-column: 1/-1;
  grid-row-start: 1;
}

#dropDownMenuContainer {
  grid-column: 10 / span 3;
  justify-self: end;
  grid-row: 1 / span 1;
  margin-top: 0.25em;
  margin-right: 0.125em;
  cursor: pointer;
  z-index: 4;
}

#dropDownMenuContainer .mat-expansion-panel-content {
  z-index: 10;
}

/* #schemasContainer .popover-body {
  padding: 0em;
  flex-direction: column;
} */
#dropDownMenuContainer .material-icons {
  padding: 0em;
  font-size: 2em;
  cursor: pointer;
}

#dropDownMenuContainer .popOverButtons {
  margin: 0.3em;
}
#dropDownMenuContainer .mat-action-row {
  justify-content: flex-start;
  padding: 0.5em 0.5em;
}
