#banner {
}

#bannerImage {
  //max-width: 100vw;
  grid-column: 1/-1;
  grid-row: 1/2;

  min-width: 100vw;
  max-height: 12vh;
  object-fit: cover;
}
#adminsPageContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  //grid-row-gap: 1em;
}
#schemasContainer {
  grid-column: 1/-1;
  grid-row-start: 2;
  padding: 1em 1em;
}
.generalBox {
  grid-column: 1/-1;
  border: 0.2em solid black;
  margin-bottom: 0.5em;
  padding: 0.5em 0.5em;
}
#singleSchema {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
#schemaItem {
  grid-column: 1/-1;
  grid-row-start: 1;
}
#dropDownMenuIcon {
  font-size: 2em;
}
#dropDownMenuIcon:hover {
  cursor: pointer;
}
#dropDownMenuContainer {
  grid-column: 11 / span 1;
  justify-self: end;
  grid-row-start: 1;
  margin-top: 0.25em;
  margin-right: 0.125em;
}
.dropdown-toggle::after {
  display: none;
}

.dropdown-menu.show {
  display: flex;
  flex-direction: column;

  float: unset;
}
::ng-deep .mat-form-field {
  margin: 0em 0.5em;
  font-size: 0.8em;
}
