<div id="adminsPageContainer">
  <div id="banner">
    <img
      src="../../assets/more_cropped_banner.jpg"
      alt="banner image"
      id="bannerImage"
    />
  </div>

  <div id="schemasContainer">
    <div class="generalBox" *ngIf="newQuestionsDocInput" id="newSchemaInput">
      <h5>New Schema</h5>
      <app-new-questions-doc
        (updateViewSignal)="subscribeToApi($event)"
        (closeNewDocElementEmitter)="closeNewQuesDocInput($event)"
        id="newQuestionsDoc"
      ></app-new-questions-doc>
    </div>

    <div
      class="generalBox"
      *ngFor="let doc of questionsDocs$ | async"
      id="singleDoc"
    >
      <div id="dropDownMenuContainer">
        <mat-expansion-panel
          class="mat-elevation-z1 custom-header"
          hideToggle="true"
        >
          <mat-expansion-panel-header>
            Document Actions
          </mat-expansion-panel-header>

          <mat-action-row>
            <button mat-button (click)="newQuestionsDocInput = true">
              New Document
            </button>
          </mat-action-row>
          <mat-action-row>
            <button mat-button (click)="deleteQuesDoc(doc.schemaName)">
              Delete Document
            </button>
          </mat-action-row>
        </mat-expansion-panel>
      </div>

      <app-question-doc
        (updateViewEmitter)="subscribeToApi($event)"
        [doc]="doc"
        id="doc"
      ></app-question-doc>
    </div>
  </div>
</div>
