<div id="usersPageContainer">
  <img
    src="../../assets/more_cropped_banner.jpg"
    alt="banner image"
    id="bannerImage"
  />
  <h1
    [hidden]="questionnaireSelected"
    id="selectQuestionnaireHeading"
    class="title is-3"
  >
    Select Questionnaire
  </h1>
  <div [hidden]="questionnaireSelected" id="selectQuestionnare">
    <ul *ngFor="let quess of questionnaires$ | async" id="ulQuess">
      <li
        class="button is-outlined"
        id="listButtons"
        (click)="selectQuestionnaire(quess)"
      >
        {{ quess.schemaName }}
      </li>
    </ul>
  </div>
  <div
    *ngIf="currentQuestionnaire$ | async as quess"
    [hidden]="!questionnaireSelected"
    id="questionsContainer"
  >
    <img src="../../assets/QABG.jpg" alt="" id="QnABackGImage" />
    <button
      mat-stroked-button
      id="showQuessSelection"
      (click)="questionnaireSelected = false; currentQuestionIndex = 0"
    >
      Questionnare List
    </button>
    <button
      mat-stroked-button
      *ngIf="currentQuestionIndex === quess.questions.length - 1"
      id="sendDataButton"
      (click)="sendData()"
    >
      Send Data
    </button>
    <h1 id="QnAHeading" class="title is-5">
      Questionnaire: {{ quess.schemaName }}
    </h1>
    <div id="queAndAeyComp">
      <app-que-and-aey
        (nextQuestionEmitter)="
          increaseQuestionIndex($event, quess.questions.length)
        "
        (previousQuestionEmitter)="
          decreaseQuestionIndex($event, quess.questions)
        "
        [question]="quess.questions[currentQuestionIndex]"
      ></app-que-and-aey>
    </div>
  </div>
</div>
