<form [formGroup]="userInfoForm">
  <img
    src="../../assets/more_cropped_banner.jpg"
    alt="banner image"
    id="bannerImage"
  />
  <div id="userDataContainer">
    <p class="title is-4" id="dataInputHeading">Personal Infomation</p>
    <div id="dataInputForm">
      <div id="matList"><mat-list >
        <mat-list-item>
          Name:
          <mat-form-field>
            <input
              matInput
              formControlName="Name"
              type="text"
              required
              placeholder="Family Name"
            />
          </mat-form-field>
        </mat-list-item>
        <mat-list-item>
          Vorname:
          <mat-form-field>
            <input
              matInput
              formControlName="Vorname"
              type="text"
              required
              placeholder="FirstName"
            />
          </mat-form-field>
        </mat-list-item>
        <mat-list-item>
          Geburtsname:
          <mat-form-field>
            <input
              matInput
              formControlName="Geburtsname"
              type="text"
              required
              placeholder="Given Name"
            />
          </mat-form-field>
        </mat-list-item>
        <mat-list-item>
          Postleitzahl:
          <mat-form-field>
            <input
              matInput
              formControlName="Postleitzahl"
              type="text"
              required
              placeholder="Area Code"
            />
          </mat-form-field>
        </mat-list-item>
        <mat-list-item>
          Stadt:
          <mat-form-field>
            <input
              matInput
              formControlName="Stadt"
              type="text"
              required
              placeholder="City"
            />
          </mat-form-field>
        </mat-list-item>
        <mat-list-item>
          Strasse:
          <mat-form-field>
            <input
              matInput
              formControlName="Strasse"
              type="text"
              required
              placeholder="Street"
            />
          </mat-form-field>
        </mat-list-item>
        <mat-list-item>
          Land:
          <mat-form-field>
            <input
              matInput
              formControlName="Land"
              type="text"
              required
              placeholder="Country"
            />
          </mat-form-field>
        </mat-list-item>
        <mat-list-item>
          Provinz:
          <mat-form-field>
            <input
              matInput
              formControlName="Provinz"
              type="text"
              required
              placeholder="Province"
            />
          </mat-form-field>
        </mat-list-item>
      </mat-list></div>
      
      <button mat-stroked-button id="saveDataButton" (click)="saveData()">
        Save
      </button>
      <button
        mat-stroked-button
        id="cancelButton"
        (click)="cancelAndRedirect()"
      >
        Cancel
      </button>
    </div>
  </div>
</form>
