#userDataContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
#dataInputHeading {
  grid-column: 5 / span 4;
  border-bottom: 0.1em solid black;
  grid-row-start: 1;
  margin: 1em;
  justify-self: center;
}
#dataInputForm {
  grid-column: 5 / span 5;
  grid-row-start: 2;
  margin: 0.5em;
}

#dataInputForm .mat-list-item {
  margin: 1em;
}
