#userDataContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
#dataInputHeading {
  grid-column: 5 / span 4;
  border-bottom: 0.1em solid black;
  grid-row-start: 1;
  margin: 1em;
  justify-self: center;
}
#dataInputForm {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 5 / span 5;
  grid-row-start: 2;
  margin: 0.5em;
}

#dataInputForm .mat-list-item {
  margin: 1em;
}
#saveDataButton {
  grid-column: 1 / span 1;
  grid-row: 2/3;
}
#cancelButton {
  grid-column: 3 / span 1;
  grid-row: 2/3;
}
#matList {
  grid-column: 1/-1;
  grid-row: 1/2;
}
